*{
    text-align: center;
    font-family: 'Pangolin', cursive;
    color: #2c2c69;

}
nav{
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    border-bottom: 2px solid #e0e0e0;
}

nav *{
    list-style: none;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

a{
    color: #0c0c49;
}

a:hover{
    color: #5c5c99;
    
}

.active-link{
    color: #5c5c99;
    font-weight: bold;
}