<form #userForm="ngForm" novalidate (ngSubmit)="onSubmit($event, userForm)">
  <div>
    <label for ="firstName">First Name:</label>
    <input id="firstName" name="firstName" type="text" ngModel required>
  </div>

  <div>
    <label for ="lastName">Last Name:</label>
    <input id="lastName" name="lastName" type="text" ngModel required>
  </div>

  <div>
    <label for ="email">Email:</label>
    <input id="email" name="email" type="text" ngModel required>
  </div>

  <div>
    <label for ="age">Age:</label>
    <input id="age" name="age" type="text" ngModel required>
  </div>

  <div>
    <input value="submit" type="submit" [disabled]="userForm.invalid">
  </div>
  